<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimalFood"
        tools:targetApi="31">
        <activity
            android:name=".Activity.EditLocalActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.InviteFriendActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditMailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditNumberPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditBioActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditNameActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddVisaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PayActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchLocalActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChooseLocalActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LocalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LocalActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PetActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FavoriteProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".BroadcastReceiver.NetworkBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>